.tamala-17 {
  background-image: image-url("tamala/17.jpg");
}

.tamala-16 {
  background-image: image-url("tamala/16.jpg");
}

.tamala-15 {
  background-image: image-url("tamala/15.jpg");
}

.tamala-14 {
  background-image: image-url("tamala/14.jpg");
}

.tamala-1 {
  background-image: image-url("tamala/1.jpg");
}

.tamala-2 {
  background-image: image-url("tamala/2.jpg");
}

.tamala-3 {
  background-image: image-url("tamala/3.jpg");
}

.tamala-4 {
  background-image: image-url("tamala/4.jpg");
}

.tamala-5 {
  background-image: image-url("tamala/5.jpg");
}

.tamala-6 {
  background-image: image-url("tamala/6.jpg");
}

.tamala-7 {
  background-image: image-url("tamala/7.jpg");
}

.tamala-8 {
  background-image: image-url("tamala/8.jpg");
}

.tamala-9 {
  background-image: image-url("tamala/9.jpg");
}

.tamala-10 {
  background-image: image-url("tamala/10.jpg");
}

.tamala-11 {
  background-image: image-url("tamala/11.jpg");
}

.tamala-12 {
  background-image: image-url("tamala/12.jpg");
}

.tamala-13 {
  background-image: image-url("tamala/13-2.jpg");
}
