.diary-size {
  background-size: 150%;
}

.diary-41 {
  @extend .diary-size;
  background-image: image-url("diary/180228.jpg");
}

.diary-40 {
  @extend .diary-size;
  background-image: image-url("diary/180227.jpg");
}

.diary-39 {
  @extend .diary-size;
  background-image: image-url("diary/180125.jpg");
}

.diary-38 {
  @extend .diary-size;
  background-image: image-url("diary/171219.jpg");
}

.diary-37 {
  @extend .diary-size;
  background-image: image-url("diary/171125.jpg");
}

.diary-36 {
  @extend .diary-size;
  background-image: image-url("diary/171102.jpg");
}

.diary-35 {
  @extend .diary-size;
  background-image: image-url("diary/171031.jpg");
}


.diary-1 {
  @extend .diary-size;
  background-image: image-url("diary/151015.jpg");
}

.diary-2 {
  @extend .diary-size;
  background-image: image-url("diary/151016.jpg");
}

.diary-3 {
  @extend .diary-size;
  background-image: image-url("diary/151018.jpg");
}

.diary-4 {
  @extend .diary-size;
  background-image: image-url("diary/151019.jpg");
}

.diary-5 {
  @extend .diary-size;
  background-image: image-url("diary/151029.jpg");
}

.diary-6 {
  @extend .diary-size;
  background-image: image-url("diary/160201.jpg");
}

.diary-7 {
  @extend .diary-size;
  background-image: image-url("diary/160202.jpg");
}

.diary-8 {
  @extend .diary-size;
  background-image: image-url("diary/160208.jpg");
}

.diary-9 {
  @extend .diary-size;
  background-image: image-url("diary/160210.jpg");
}

.diary-10 {
  @extend .diary-size;
  background-image: image-url("diary/160320.jpg");
}

.diary-11 {
  @extend .diary-size;
  background-image: image-url("diary/160327.jpg");
}

.diary-12 {
  @extend .diary-size;
  background-image: image-url("diary/160328.jpg");
}

.diary-13 {
  @extend .diary-size;
  background-image: image-url("diary/160508.jpg");
}

.diary-14 {
  @extend .diary-size;
  background-image: image-url("diary/160601.jpg");
}

.diary-15 {
  @extend .diary-size;
  background-image: image-url("diary/160602.jpg");
}

.diary-16 {
  @extend .diary-size;
  background-image: image-url("diary/160603.jpg");
}

.diary-17 {
  @extend .diary-size;
  background-image: image-url("diary/160619.jpg");
}

.diary-18 {
  @extend .diary-size;
  background-image: image-url("diary/160731.jpg");
}

.diary-19 {
  @extend .diary-size;
  background-image: image-url("diary/160820.jpg");
}

.diary-20 {
  @extend .diary-size;
  background-image: image-url("diary/170101.jpg");
}

.diary-21 {
  @extend .diary-size;
  background-image: image-url("diary/170102.jpg");
}

.diary-22 {
  @extend .diary-size;
  background-image: image-url("diary/170105.jpg");
}

.diary-23 {
  @extend .diary-size;
  background-image: image-url("diary/170109.jpg");
}

.diary-24 {
  @extend .diary-size;
  background-image: image-url("diary/170113.jpg");
}

.diary-25 {
  @extend .diary-size;
  background-image: image-url("diary/170118.jpg");
}

.diary-26 {
  @extend .diary-size;
  background-image: image-url("diary/170208.jpg");
}

.diary-27 {
  @extend .diary-size;
  background-image: image-url("diary/170418.jpg");
}

.diary-28 {
  @extend .diary-size;
  background-image: image-url("diary/170507.jpg");
}

.diary-29 {
  @extend .diary-size;
  background-image: image-url("diary/170513.jpg");
}

.diary-30 {
  @extend .diary-size;
  background-image: image-url("diary/170515.jpg");
}

.diary-31 {
  @extend .diary-size;
  background-image: image-url("diary/170522.jpg");
}

.diary-32 {
  @extend .diary-size;
  background-image: image-url("diary/170716.jpg");
}

.diary-33 {
  @extend .diary-size;
  background-image: image-url("diary/170810.jpg");
}

.diary-34 {
  @extend .diary-size;
  background-image: image-url("diary/170826.jpg");
}
