.works {
  background-image: image-url("slider/works.jpg");
}

.diary {
  background-image: image-url("slider/diary.jpg");
}

.tamala {
  background-image: image-url("slider/tamala.jpg");
}

.blog {
  background-image: image-url("slider/blog.jpg");
}

.niccho {
  background-image: image-url("slider/snap.jpg");
}

.t-170208 {
  background-image: image-url("slider/tamala.jpg");
}

.tougei {
  background-image: image-url("100v/n-profile.jpg");
}
