.works-10 {
  background-image: image-url("works/180129/1.jpg");
}

.works-9 {
  background-image: image-url("works/180120/1.jpg");
}

.works-8 {
  background-image: image-url("works/180115/1.jpg");
}

.works-7 {
  background-image: image-url("works/180106/4.jpg");
}

.works-6 {
  background-image: image-url("works/180101/3.jpg");
}

.works-5 {
  background-image: image-url("works/171217/5.jpg");
}

.works-4 {
  background-image: image-url("works/171104/1.jpg");
}

.works-1 {
  background-image: image-url("works/170625/2.jpg");
}

.works-2 {
  background-image: image-url("works/170914/1.jpg");
}

.works-3 {
  background-image: image-url("works/171008/2.jpg");
}
